aside div.radioOptions {
    color:#ACACAC;
    font-size: 14px;
    font-weight: bold;
    margin-top:25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

aside div.radioOptions div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
}